.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  column-gap: .5rem;
  padding: .5rem;
}

.header {
  padding: 1rem;
  overflow-y: scroll;
  background: var(--secondarybg);
}

.dynamiccontent {
  position: relative;
  padding: 1rem;
  overflow-y: scroll;
  background: var(--secondarybg);
}

.loader{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img{
  height: 100%;
  width: 100%;
}
